@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

#back_btn {
    color:#464A5F;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 5px;
    margin-left: 100px;
    width: 100px;
}
ul{
    list-style-type:none;
    margin-left: -150px;
}
ul li{
    display:inline-block;;
}
ul li a{
    cursor:pointer;;
    display: block;
    background-image: linear-gradient(to right,#9DFFD4,#52CDC5);
    height:30px;
    width:90px;
    line-height:30px;
    font-weight:bold;
    text-align:center;
    margin-right: 10px;
}

.steps_2,.steps_3,.steps_4,.steps_5
{
    background-image: none;
    background-color: #E5E5E5;

}

/* .steps_btn {

} */
#startup {
    font-family: 'Playfair Display', serif;
}
.blue_gradient {
    width: 110px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right,#9DFFD8,#52CDC5);
    border: none;
}
.btn{
    position: absolute;
    top: 10;
    margin-left: 3.5rem;

}