<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>APDC - Automatic Pitch Deck Creator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="A premium admin dashboard template by mannatthemes" name="description">
    <meta content="Mannatthemes" name="author"><!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static',filename='admin2/assets/images/favicon.ico')}}"><!-- App css -->
    <link href="{{url_for('static',filename='admin2/assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='admin2/assets/css/icons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='admin2/assets/css/metismenu.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='admin2/assets/css/style.css')}}" rel="stylesheet" type="text/css">
        <style>
        .styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

    </style>

</head>

<body class="account-body">
    <!-- Log In page -->
    <div class="row vh-100">
        <div class="col-lg-4 pr-0">
            <div class="card mb-0 shadow-none">
                <div class="card-body">
                    <div class="px-12">
                        <div class="media"><a href="index.html" class="logo logo-admin"><img
                            src="{{url_for('static',filename='admin2/assets/images/logo-apdc.png')}}" height="55" alt="logo" class="my-3"></a>
                        </div>
                        <form class="form-horizontal my-4" method="POST">
                            <div class="form-group"><label for="username">Investment Gained</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i
                                                class="mdi mdi-office-building font-16"></i></span></div><input
                                        type="text" class="form-control" name="invesment_gained" id="invesment_gained" placeholder="Investment Gained">
                                </div>
                            </div>
                            <div class="form-group"><label for="username">Total Required Investment</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i
                                                class="mdi mdi-responsive font-16"></i></span></div><input
                                        type="text" class="form-control" name="investment_required" id="investment_required" placeholder="Tot Required Investment">
                                </div>
                            </div>
                            <div class="form-group"><label for="userpassword">Seed Fund</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon3"><i
                                                class="mdi mdi-marker-check font-16"></i></span></div><input
                                        type="text" class="form-control" name="seed_fund" id="seed_fund"
                                        placeholder="Seed Fund">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:-10px;">
                                    <label for="Mobile-number">Business Model</label>
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-lg mb-4" name="business_model">
                                            <option value="Subscription Model">Subscription Model</option>
                                            <option value="Ecommerce Model">Ecommerce Model</option>
                                            <option value="Advertising Model">Advertising Model</option>
                                    </select>
                                </div>

                            <div class="form-group mb-0 row">
                                <div class="col-12 mt-2"><button
                                        class="btn btn-primary btn-block waves-effect waves-light"
                                        type="submit">Register <i class="fas fa-sign-in-alt ml-1"></i></button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 p-0 d-flex justify-content-center">
            <div class="accountbg d-flex align-items-center">
                <div class="account-title text-white text-center">
                    <h4 class="mt-3">Please Fill This</h4>
                    <div class="border w-25 mx-auto border-primary"></div>
                    <h1 class="">To Get Insights</h1>
                </div>
            </div>
        </div>
    </div><!-- End Log In page -->
    <!-- jQuery  -->
    <script src="{{url_for('static',filename='admin2/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/waves.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/jquery.slimscroll.min.js')}}"></script><!-- App js -->
    <script src="{{url_for('static',filename='admin2/assets/js/app.js')}}"></script>
</body>
<!-- Mirrored from mannatthemes.com/frogetor/horizontal_dark/auth-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Apr 2019 10:43:56 GMT -->

</html>