<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>APDC - Automatic Pitch Deck Creator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="A premium admin dashboard template by mannatthemes" name="description">
    <meta content="Mannatthemes" name="author"><!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static',filename='admin2/assets/images/favicon.ico')}}"><!-- App css -->
    <link href="{{url_for('static',filename='admin2/assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='admin2/assets/css/icons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='admin2/assets/css/metismenu.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='admin2/assets/css/style.css')}}" rel="stylesheet" type="text/css">
        <style>
        .styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

    </style>
    
</head>

<body class="account-body">
    <!-- Log In page -->
    <div class="row vh-100">
        <div class="col-lg-4 pr-0">
            <div class="card mb-0 shadow-none">
                <div class="card-body">
                    <div class="px-12">
                        <div class="media"><a href="index.html" class="logo logo-admin"><img
                                    src="{{url_for('static',filename='admin2/assets/images/logo-apdc.png')}}" height="55" alt="logo" class="my-3"></a>
                        </div>
                        <form class="form-horizontal my-4"
                            method = "POST">
                            <div class="form-group" style="margin-bottom:-10px;">
                                    <label style="color:#fff;">CAC Calculator</label>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="formControlRange">Total Acquisition Cost</label>
                                <input type="range" onchange="setValue(1,this.value);" name="arc" id="acquisition_cost" class="custom-range" min="10000" value="0" max="100000" id="customRange2">
                                <label id="acquisition_value" style="color:#fff;">0</label>
                            </div>
                            <div class="form-group">
                                    <label for="formControlRange">No of Customer Acquired</label>
                                    <input type="range"  onchange="setValue(2,this.value);" name="acl" id="name_of_customer" class="custom-range"value="0" min="1" max="1000" id="customRange2">
                                    <label id="customer_value" style="color:#fff;">0</label>
                            </div>
                            <div class="form-group" style="margin-bottom:-10px;">
                               <label style="color:#fff;">CAV Calculator</label>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="formControlRange">Average Order Value</label>
                                  <input onchange="setValue(3,this.value)" type="range" class="custom-range"value="0" min="1" max="5000" id="customRange2" name="avgorder">
                                 <label id="avg_order_value" style="color:#fff;">0</label>
                            </div>
                                    <div class="form-group">
                                            <label for="formControlRange">No of Orders</label>
                                            <input type="range" onchange="setValue(4,this.value)" class="custom-range"value="0" min="0" max="5000" id="customRange2" name="nooforder">
                                            <label for="" style="color:#fff;" id="no_of_order_value">0</label>
                                        </div>
                                        <div class="form-group">
                                                <label for="formControlRange">Total Unique Customers</label>
                                                <input type="range" onchange="setValue(5,this.value)" name="uniqueCust" class="custom-range" min="0" max="1000" value="0" id="customRange2">
                                                <label for="" style="color:#fff;" id="unique_customer_value">0</label>
                                            </div>
                                            <div class="form-group">
                                                    <label for="formControlRange">Margin in %</label>
                                                    <input type="range" onchange="setValue(6,this.value)" name = "profit" class="custom-range"value="0" min="0" max="100" id="customRange2" >
                                                   <label id="margin_value" style="color:#fff;">0%</label>
                                                
                                                </div>


                            <div class="form-group mb-0 row">
                                <div class="col-12 mt-2"><button
                                        class="btn btn-primary btn-block waves-effect waves-light"
                                        type="submit">Submit <i class="fas fa-sign-in-alt ml-1"></i></button></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 p-0 d-flex justify-content-center">
                <div class="accountbg d-flex align-items-center">
                    <div class="account-title text-white text-center">
                        <h4 class="mt-3">Please Fill This</h4>
                        <div class="border w-25 mx-auto border-primary"></div>
                        <h1 class="">To Get Insights</h1>
                    </div>
                </div>
            </div>
    </div><!-- End Log In page -->
    <script>
        function setValue(index,value)
        {
            
            if(index == 1)
            {
                $('#acquisition_value').text(value);
            }
            else if(index == 2)
            {
                $('#customer_value').text(value);
            }
            else if(index == 3)
            {
                $('#avg_order_value').text(value);
            }
            else if(index == 4)
            {
                //No of Orders
                $('#no_of_order_value').text(value);
            }
            else if(index == 5)
            {
                //Total Unique Customers
                $('#unique_customer_value').text(value);
            }
            else if(index == 6)
            {
               // MArgin in %
               $('#margin_value').text(value).append('%');
            }
        }
    </script>

    <!-- jQuery  -->
    <script src="{{url_for('static',filename='admin2/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/waves.min.js')}}"></script>
    <script src="{{url_for('static',filename='admin2/assets/js/jquery.slimscroll.min.js')}}"></script><!-- App js -->
    <script src="{{url_for('static',filename='admin2/assets/js/app.js')}}"></script>
</body>
<!-- Mirrored from mannatthemes.com/frogetor/horizontal_dark/auth-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Apr 2019 10:43:56 GMT -->

</html>