<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Startup Comparison</title>
   
</head>
<body>

    
        <div class="container" style = "margin-top:50px;">
            <div class="row">
                <div class="col-md-12">
                        <!-- <a>
                                <img src="icons/arrow-left-solid.png" alt="Back Arrow">
                                    <span id="back_btn">BACK</span>
                            </a> -->
                           
                                    <ul>
                                        <li style="float:left;background-image: none;background-color:none;" id="back_btn">
                                            <a style="background-image:none;">
                                                <img src="{{url_for('static', filename ='icons/arrow-left-solid.png')}}" alt="Back Arrow">
                                                    <span>BACK</span>
                                            </a>
                                        </li>
                                     
                                            <li style="margin-left:150px;"><a class="steps_1 active" style="color:#fff;">1</a></li>
                                            <li><a class="steps_2">2</a></li>
                                            <li><a class="steps_3">3</a></li>
                                            <li><a class="steps_4">4</a></li>
                                            <li><a class="steps_5">5</a></li>
                                
                                        </ul>
                                   
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:30px;">
            <div class="row">
                <div class="col-md-4">
                    <label for="" style="font-weight: bold;border-bottom:1px solid black;;">
                        1. Enter Following Details:
                    </label>
                    <br>
                    <br>
                    <form action="http://localhost:5000/" method = "POST">
                        <div class="col-md-8">
                          <label for="email">Product Name :</label>
                          <input type="email" class="form-control" id="email">
                        </div>
                        <br>
                        <div class="col-md-8">
                          <label for="pwd">Product Type :</label>
                          <input type="p_type" class="form-control" id="p_type" name="p_type">
                        </div>
                        
                        <br>
                        <div class="col-md-8">
                            <label for="email" style="font-weight: bold;border-bottom:1px solid black;;">
                                2. Enter USP :</label>
                            <input type="email" class="form-control" id="email">
                            <br>
                            <input type="submit" value="submit" class="btn btn-primary blue_gradient">
                          </div>
                    </form> 
                </div>
                <!-- col end-->
                <div class="col-md-8">
                    <table class="table table-hover" id="startup_table" style="display:none;">
                        <thead>
                          <tr>
                            <th>Logo</th>
                            <th>Startup Name</th>
                            <th>Founded At</th>
                            <th>Fund Raised</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><img src="{{url_for('static',filename='img/curebit.png')}}" alt="" style="height:40px;width:40px;"></td>
                            <td>Curebit</td>
                            <td>2010</td>
                            <td>20,0000</td>
                            <td>Operating</td>
                          </tr>
                          <tr>
                            <td><img src="{{url_for('static',filename='img/curebit.png')}}" alt="" style="height:40px;width:40px;"></td>
                            <td>Curebit</td>
                            <td>2010</td>
                            <td>20,0000</td>
                            <td>Operating</td>
                          </tr>
                          <tr>
                            <td><img src="{{url_for('static',filename='img/curebit.png')}}" alt="" style="height:40px;width:40px;"></td>
                            <td>Curebit</td>
                            <td>2010</td>
                            <td>20,0000</td>
                            <td>Operating</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="offset-md-10 col-md-2 mt-5">
                        <button type="button" class="btn btn-primary blue_gradient">
                            <a href="ratio.html" style="text-decoration:none;color:#fff;">Next</a>
                            </button>
                </div>
                <!-- <div class="col-md-4" style="position:absolute;right:0;">    -->
                    <!-- <h5 id="startup">Same Type of <span style="color:#9DFFD4;font-weight: bold;
                    text-shadow: 2px 2px 2px #000;">Startup's</span></h5> -->
                    <!-- <br> -->
                    <!-- <br> -->
                    <!-- <div class="row" style="text-align:center;"> -->
                        <!-- <div class="col-md-2" style="padding:4px;border:1px solid black;margin-left: 10px;border-radius: 5px;">
                            <img src="img/start1.png" alt="" style="width:40px;height:40px;
                            margin:5px;">
                        </div>                     -->
                        <!-- <div class="col-md-2" style="padding:5px;border:1px solid black;margin-left: 8px;border-radius: 5px;">
                            <img src="img/start1.png" alt="" style="width:40px;height:40px;
                            margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
                        </div> -->
                        <!-- <div class="col-md-2" style="padding:5px;border:1px solid black;margin-left: 8px;border-radius: 5px;">
                            <img src="img/start1.png" alt="" style="width:40px;height:40px;
                            margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
                        </div> -->
                    <!-- </div> -->
                    <!-- row end-->
                    <!-- <br> -->
                    <!-- <div class="row" style="text-align:center;"> -->
                        <!-- <div class="col-md-2" style="padding:5px;border:1px solid black;margin-left: 8px;border-radius: 5px;">
                            <img src="img/start1.png" alt="" style="width:40px;height:40px;margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
                        </div>                     -->
                        <!-- <div class="col-md-2" style="padding:5px;border:1px solid black;margin-left: 8px;border-radius: 5px;">
                            <img src="img/start1.png" alt="" style="width:40px;height:40px;
                            margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
                        </div> -->
                        <!-- <div class="col-md-2" style="padding:5px;border:1px solid black;margin-left: 8px;border-radius: 5px;">
                            <img src="img/start1.png" alt="" style="width:40px;height:40px;
                            margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
                        </div> -->
                    <!-- </div> -->
                    <!-- row end-->

                    <!-- <div class="row">
                        <div class="offset-md-2 col-md-2 mt-5">
                                <button type="button" class="btn btn-primary blue_gradient">Next</button>
                        </div>
                    </div> -->
                <!-- </div>col end -->
            </div> <!-- row end --->

        </div><!-- container end -->

    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>